
body{
    background-image: url("To\ do\ image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat:no-repeat ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
 background-color:rgba(255, 255, 255, 0.6);;
 height: 400px;
 width: 350px;
 text-align: center;
 border-radius: 30px;
 backdrop-filter: blur(10px);

}
h1{
     font-family: "Science Gothic", sans-serif;
     font-weight: 700;
     

}


    