
body{
    background-image: url("image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat:no-repeat ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{

 color: #fff;
 box-shadow: 0 0 100px rgba( 0, 0 , 0 , 0.5);
 height: 400px;
 width: 350px;
 text-align: center;
 border-radius: 20px;
 backdrop-filter: blur(10px);
 border: 3px solid rgba(255, 255, 255, 0.18 ); 

}
h1{
     font-family: "Science Gothic", sans-serif;
     font-weight: 700;
}
#inputs{
    flex: 1;
     background:rgba(255, 194, 209, 0.3);
     backdrop-filter: blur(10px);
     border-radius: 30px;
     border: none;
     padding: 10px;
     outline: none;
     
     
     
}
#btn{
background:rgba(255, 194, 209, 0.3);
 backdrop-filter: blur(10px);
 padding: 5px;
  border-radius: 0 8px 8px 0;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.2s ease;

}
#btn:hover{
    background-color: #6e6b6b;
    transform: scale(1.1);
    color: white;
}
#count{
    font-size: 30px;
}

#displayText{
    font-size: 1.2rem;
    font-family: "SN Pro", static;
}
#taskNo{
   font-size: 1.7rem;
   font-weight: bold;

}
.taskBox{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    width: 10px;
    height: 3px;

}
.taskContainer {
  display: flex;
  flex-direction: column;   
  align-items: center;      
}


#task-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 194, 209, 0.3);
    margin-bottom: 10px;
    width: fit-content;
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 1rem;
    color: #fff;
    position: relative;
    transition: box-shadow 0.2s ease;
     font-family: 'Montserrat', sans-serif;
     margin-left: 50px;


     
}

#task-list li:hover{
     box-shadow: 0 0 10px rgba( 0, 0 , 0 , 0.5 );

}

#task-list li .checkboz {
    min-width: 20px;
    height: 20px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    transition: all 0.3s ease;
}

#task-list li .checkboz:checked{
    background-color: rgb(75, 40, 40);
    transform: scale(1.1rem);
}
#task-list li .checkboz:checked::before{
    content: "\2713";
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}
.task-button{
    display: flex;
    gap: 10px;
    margin-left: 30px;
}
.task-button button{
    background: rgba(255, 194, 209, 0.3);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    color: #fff;
    transition: all 0.2s ease;
    cursor: pointer;
}
.task-button button:hover{ 
    transform: scale(1.2);
    background-color: #6e6b6b;
}
.task-button .edit-btn{
    background-color: rgba(255, 217, 0, 0.547);
}
.task-button .delete-btn{
    background-color:rgba(255, 0, 0, 0.553) ;
}