
body{
    background-image: url("To\ do\ image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat:no-repeat ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
 background-color:rgba(255, 255, 255, 0.6);
 height: 400px;
 width: 350px;
 text-align: center;
 border-radius: 30px;
 backdrop-filter: blur(10px);

}
h1{
     font-family: "Science Gothic", sans-serif;
     font-weight: 700;
}
.inputs{
     background-color:rgba(255, 255, 255, 0.6);
     backdrop-filter: blur(10px);
     border-radius: 30px;
     border: none;
     padding: 5px;
}
#btn{
 background-color:rgba(255, 255, 255, 0.6);
 backdrop-filter: blur(10px);
 padding: 5px;
  border-radius: 0 8px 8px 0;
  border: none;
  cursor: pointer;
  font-size: 1rem;

}
#btn:hover{
    background-color: #6e6b6b;
    color: white;
}
#count{
    font-size: 30px;
}


    